.span4.offset4
  %div#signin-form
    - if notice
      .alert= notice
    = form_for @credential, url:'signin' do |f|
      %div.controls
        = f.text_field :api_key, class:'text-input', placeholder:'API KEY', autocomplete:'on', class:'span4'
      %div.controls
        = f.text_field :secret_key, class:'text-input', placeholder:'SECRET KEY', autocomplete:'on', class:'span4'
      %div.controls
        = f.submit 'SignIn', class:'submit btn btn-primary span1'
